    </main>
    <footer>
      <a href="#top">Top</a> | 
      <a href="{{ '/' | url }}">Home</a> 
    </footer>
    <div class="quahog">
      <img src="{{ '/' | url }}assets/images/quahog.svg" alt="A quahog" />
    </div>
    <script src="{{ '/' | url }}assets/js/scripts.js" async></script>
  </body>
</html>
